//
// Icon Font: font-fabulous
//

@font-face {
  font-family: "font-fabulous";
  src: font-url("../fonts/font-fabulous.eot");
  src: font-url("../fonts/font-fabulous.eot?#iefix") format("embedded-opentype"),
       font-url("../fonts/font-fabulous.woff") format("woff"),
       font-url("../fonts/font-fabulous.ttf") format("truetype"),
       font-url("../fonts/font-fabulous.svg#font-fabulous") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font-fabulous";
    src: font-url("../fonts/font-fabulous.svg#font-fabulous") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.ff.ff-boolean:before,
.ff.ff-cloud-network:before,
.ff.ff-cloud-object-store:before,
.ff.ff-configured-system:before,
.ff.ff-dna:before,
.ff.ff-drift:before,
.ff.ff-field:before,
.ff.ff-file-ear-o:before,
.ff.ff-file-output-o:before,
.ff.ff-file-share-o:before,
.ff.ff-file-war-o:before,
.ff.ff-firewall:before,
.ff.ff-integer:before,
.ff.ff-load-balancer:before,
.ff.ff-manageiq:before,
.ff.ff-monitoring:before,
.ff.ff-network-card:before,
.ff.ff-network-interface:before,
.ff.ff-network-port:before,
.ff.ff-network-switch:before,
.ff.ff-resource:before,
.ff.ff-software-package:before,
.ff.ff-stack:before,
.ff.ff-string:before,
.ff.ff-synchronize:before,
.ff.ff-user-role:before,
.ff.ff-users:before {
  display: inline-block;
  font-family: "font-fabulous";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.ff.ff-boolean:before { content: "\f100"; }
.ff.ff-cloud-network:before { content: "\f101"; }
.ff.ff-cloud-object-store:before { content: "\f102"; }
.ff.ff-configured-system:before { content: "\f103"; }
.ff.ff-dna:before { content: "\f104"; }
.ff.ff-drift:before { content: "\f105"; }
.ff.ff-field:before { content: "\f106"; }
.ff.ff-file-ear-o:before { content: "\f107"; }
.ff.ff-file-output-o:before { content: "\f108"; }
.ff.ff-file-share-o:before { content: "\f109"; }
.ff.ff-file-war-o:before { content: "\f10a"; }
.ff.ff-firewall:before { content: "\f10b"; }
.ff.ff-integer:before { content: "\f10c"; }
.ff.ff-load-balancer:before { content: "\f10d"; }
.ff.ff-manageiq:before { content: "\f10e"; }
.ff.ff-monitoring:before { content: "\f10f"; }
.ff.ff-network-card:before { content: "\f110"; }
.ff.ff-network-interface:before { content: "\f111"; }
.ff.ff-network-port:before { content: "\f112"; }
.ff.ff-network-switch:before { content: "\f113"; }
.ff.ff-resource:before { content: "\f114"; }
.ff.ff-software-package:before { content: "\f115"; }
.ff.ff-stack:before { content: "\f116"; }
.ff.ff-string:before { content: "\f117"; }
.ff.ff-synchronize:before { content: "\f118"; }
.ff.ff-user-role:before { content: "\f119"; }
.ff.ff-users:before { content: "\f11a"; }
