/*
  Icon Font: font-fabulous
*/

@font-face {
  font-family: "font-fabulous";
  src: url("../fonts/font-fabulous/font-fabulous.eot");
  src: url("../fonts/font-fabulous/font-fabulous.eot?#iefix") format("embedded-opentype"),
       url("../fonts/font-fabulous/font-fabulous.woff") format("woff"),
       url("../fonts/font-fabulous/font-fabulous.ttf") format("truetype"),
       url("../fonts/font-fabulous/font-fabulous.svg#font-fabulous") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font-fabulous";
    src: url("../fonts/font-fabulous/font-fabulous.svg#font-fabulous") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.ff.ff-action:before,
.ff.ff-array:before,
.ff.ff-attribute:before,
.ff.ff-boolean:before,
.ff.ff-broom:before,
.ff.ff-class:before,
.ff.ff-clone:before,
.ff.ff-cloud-network:before,
.ff.ff-cloud-object-store:before,
.ff.ff-compare-all:before,
.ff.ff-compare-different:before,
.ff.ff-compare-same:before,
.ff.ff-configured-system:before,
.ff.ff-database-squeezed:before,
.ff.ff-diamond:before,
.ff.ff-diamond-o:before,
.ff.ff-dna:before,
.ff.ff-drift:before,
.ff.ff-element:before,
.ff.ff-exists:before,
.ff.ff-field:before,
.ff.ff-file-bat-o:before,
.ff.ff-file-bmp-o:before,
.ff.ff-file-com-o:before,
.ff.ff-file-csv-o:before,
.ff.ff-file-dat-o:before,
.ff.ff-file-dll-o:before,
.ff.ff-file-doc-o:before,
.ff.ff-file-ear-o:before,
.ff.ff-file-exe-o:before,
.ff.ff-file-gif-o:before,
.ff.ff-file-gz-o:before,
.ff.ff-file-html-o:before,
.ff.ff-file-iso-o:before,
.ff.ff-file-jar-o:before,
.ff.ff-file-java-o:before,
.ff.ff-file-jpg-o:before,
.ff.ff-file-js-o:before,
.ff.ff-file-json-o:before,
.ff.ff-file-log-o:before,
.ff.ff-file-mp3-o:before,
.ff.ff-file-mp4-o:before,
.ff.ff-file-ogg-o:before,
.ff.ff-file-ogv-o:before,
.ff.ff-file-output-o:before,
.ff.ff-file-pdf-o:before,
.ff.ff-file-png-o:before,
.ff.ff-file-rar-o:before,
.ff.ff-file-rmp-o:before,
.ff.ff-file-share-o:before,
.ff.ff-file-tar-o:before,
.ff.ff-file-txt-o:before,
.ff.ff-file-war-o:before,
.ff.ff-file-wav-o:before,
.ff.ff-file-webm-o:before,
.ff.ff-file-webp-o:before,
.ff.ff-file-xml-o:before,
.ff.ff-file-yaml-o:before,
.ff.ff-file-yml-o:before,
.ff.ff-file-zip-o:before,
.ff.ff-firewall:before,
.ff.ff-float:before,
.ff.ff-group:before,
.ff.ff-hexagon:before,
.ff.ff-hexagon-o:before,
.ff.ff-integer:before,
.ff.ff-load-balancer:before,
.ff.ff-manageiq:before,
.ff.ff-method:before,
.ff.ff-monitoring:before,
.ff.ff-network-card:before,
.ff.ff-network-interface:before,
.ff.ff-network-port:before,
.ff.ff-network-switch:before,
.ff.ff-parameter:before,
.ff.ff-pentagon:before,
.ff.ff-pentagon-o:before,
.ff.ff-project:before,
.ff.ff-relationship:before,
.ff.ff-resource:before,
.ff.ff-software-package:before,
.ff.ff-stack:before,
.ff.ff-state:before,
.ff.ff-string:before,
.ff.ff-synchronize:before,
.ff.ff-tab:before,
.ff.ff-template:before,
.ff.ff-tenant:before,
.ff.ff-timeline:before,
.ff.ff-triangle:before,
.ff.ff-triangle-o:before,
.ff.ff-user-role:before,
.ff.ff-view-expanded:before,
.ff.ff-wavy-lines:before {
  display: inline-block;
  font-family: "font-fabulous";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.ff.ff-action:before { content: "\f11b"; }
.ff.ff-array:before { content: "\f11c"; }
.ff.ff-attribute:before { content: "\f15d"; }
.ff.ff-boolean:before { content: "\f103"; }
.ff.ff-broom:before { content: "\f157"; }
.ff.ff-class:before { content: "\f11e"; }
.ff.ff-clone:before { content: "\f12a"; }
.ff.ff-cloud-network:before { content: "\f104"; }
.ff.ff-cloud-object-store:before { content: "\f105"; }
.ff.ff-compare-all:before { content: "\f12b"; }
.ff.ff-compare-different:before { content: "\f12c"; }
.ff.ff-compare-same:before { content: "\f12d"; }
.ff.ff-configured-system:before { content: "\f106"; }
.ff.ff-database-squeezed:before { content: "\f158"; }
.ff.ff-diamond:before { content: "\f11f"; }
.ff.ff-diamond-o:before { content: "\f15e"; }
.ff.ff-dna:before { content: "\f107"; }
.ff.ff-drift:before { content: "\f108"; }
.ff.ff-element:before { content: "\f120"; }
.ff.ff-exists:before { content: "\f121"; }
.ff.ff-field:before { content: "\f109"; }
.ff.ff-file-bat-o:before { content: "\f14e"; }
.ff.ff-file-bmp-o:before { content: "\f14f"; }
.ff.ff-file-com-o:before { content: "\f150"; }
.ff.ff-file-csv-o:before { content: "\f134"; }
.ff.ff-file-dat-o:before { content: "\f141"; }
.ff.ff-file-dll-o:before { content: "\f13d"; }
.ff.ff-file-doc-o:before { content: "\f13a"; }
.ff.ff-file-ear-o:before { content: "\f100"; }
.ff.ff-file-exe-o:before { content: "\f13b"; }
.ff.ff-file-gif-o:before { content: "\f13c"; }
.ff.ff-file-gz-o:before { content: "\f144"; }
.ff.ff-file-html-o:before { content: "\f14b"; }
.ff.ff-file-iso-o:before { content: "\f13e"; }
.ff.ff-file-jar-o:before { content: "\f148"; }
.ff.ff-file-java-o:before { content: "\f14c"; }
.ff.ff-file-jpg-o:before { content: "\f137"; }
.ff.ff-file-js-o:before { content: "\f146"; }
.ff.ff-file-json-o:before { content: "\f151"; }
.ff.ff-file-log-o:before { content: "\f14d"; }
.ff.ff-file-mp3-o:before { content: "\f147"; }
.ff.ff-file-mp4-o:before { content: "\f149"; }
.ff.ff-file-ogg-o:before { content: "\f155"; }
.ff.ff-file-ogv-o:before { content: "\f156"; }
.ff.ff-file-output-o:before { content: "\f10a"; }
.ff.ff-file-pdf-o:before { content: "\f135"; }
.ff.ff-file-png-o:before { content: "\f138"; }
.ff.ff-file-rar-o:before { content: "\f142"; }
.ff.ff-file-rmp-o:before { content: "\f145"; }
.ff.ff-file-share-o:before { content: "\f10b"; }
.ff.ff-file-tar-o:before { content: "\f13f"; }
.ff.ff-file-txt-o:before { content: "\f136"; }
.ff.ff-file-war-o:before { content: "\f101"; }
.ff.ff-file-wav-o:before { content: "\f14a"; }
.ff.ff-file-webm-o:before { content: "\f153"; }
.ff.ff-file-webp-o:before { content: "\f154"; }
.ff.ff-file-xml-o:before { content: "\f139"; }
.ff.ff-file-yaml-o:before { content: "\f152"; }
.ff.ff-file-yml-o:before { content: "\f143"; }
.ff.ff-file-zip-o:before { content: "\f140"; }
.ff.ff-firewall:before { content: "\f102"; }
.ff.ff-float:before { content: "\f12e"; }
.ff.ff-group:before { content: "\f122"; }
.ff.ff-hexagon:before { content: "\f123"; }
.ff.ff-hexagon-o:before { content: "\f15f"; }
.ff.ff-integer:before { content: "\f10c"; }
.ff.ff-load-balancer:before { content: "\f10d"; }
.ff.ff-manageiq:before { content: "\f10e"; }
.ff.ff-method:before { content: "\f12f"; }
.ff.ff-monitoring:before { content: "\f10f"; }
.ff.ff-network-card:before { content: "\f110"; }
.ff.ff-network-interface:before { content: "\f111"; }
.ff.ff-network-port:before { content: "\f112"; }
.ff.ff-network-switch:before { content: "\f113"; }
.ff.ff-parameter:before { content: "\f124"; }
.ff.ff-pentagon:before { content: "\f160"; }
.ff.ff-pentagon-o:before { content: "\f161"; }
.ff.ff-project:before { content: "\f159"; }
.ff.ff-relationship:before { content: "\f131"; }
.ff.ff-resource:before { content: "\f114"; }
.ff.ff-software-package:before { content: "\f115"; }
.ff.ff-stack:before { content: "\f116"; }
.ff.ff-state:before { content: "\f132"; }
.ff.ff-string:before { content: "\f117"; }
.ff.ff-synchronize:before { content: "\f118"; }
.ff.ff-tab:before { content: "\f126"; }
.ff.ff-template:before { content: "\f127"; }
.ff.ff-tenant:before { content: "\f15a"; }
.ff.ff-timeline:before { content: "\f128"; }
.ff.ff-triangle:before { content: "\f129"; }
.ff.ff-triangle-o:before { content: "\f162"; }
.ff.ff-user-role:before { content: "\f119"; }
.ff.ff-view-expanded:before { content: "\f133"; }
.ff.ff-wavy-lines:before { content: "\f15c"; }
