
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= font_name %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.21.0/css/patternfly.min.css" integrity="sha256-sklEBRyj1W7KiW25C1ArPyejQv20XhLlomiiFt6iE34=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.21.0/css/patternfly-additions.min.css" integrity="sha256-tayfUi5V/0Xq7pIAbn+silPeoGsaaAIcElJsEqyKbiM=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.21.0/js/patternfly.min.js" integrity="sha256-828BXxFsvdlxRANi4eVi87BlUYt+QTQ+OKa9Z2FGp7U=" crossorigin="anonymous"></script>
    <style><!--
      i {
        font-size: 60px;
      }

      <%= font_face(path: "assets/fonts/#{@font_path_preview}") %>

      [data-icon]:before { content: attr(data-icon); }

      [data-icon]:before,
      <%= glyph_selectors %> {
      <%= glyph_properties %>
      }

      <%= glyphs %>
    --></style>
  </head>

  <body>
    <nav class="navbar navbar-pf-vertical">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          Font Fabulous
        </a>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <% @glyphs.each do |name, value|
          selector = @options[:css_selector].sub('{{glyph}}', name.to_s) %>
        <div class="col-sm-2 text-center">
          <div class="preview">
            <i class="<%= selector[1..-1].gsub('.', ' ') %>"></i>
          </div>
          <div class="usage">
            <%= selector[1..-1].sub('ff.ff-', '') %>
          </div>
        </div>
        <% end %>
      </div>

      <div class="row">
        <footer>
          <p class="pull-right">Made with love using <a href="http://fontcustom.com">Font Custom</a>.</p>
        </footer>
      </div>
    </div>
  </body>
</html>